cached-property
filelock
lxml
networkx>=2.5
numpy>=1.21.0
ordered_set
packaging
pillow
pooch>=1.5.0
pycollada>=0.8  # required for robot model using collada
pyglet<2.0
pysdfgen>=0.2.0
pyyaml
rtree # need rtree for simplify_quadric_decimation
scikit-learn>=0.24.0
scikit-robot-pyrender>=0.1.50
scipy>=1.6.3
trimesh>=3.9.0,!=3.23.0
viser
