cached-property;python_version>="3.0"
cached-property<=1.5.2;python_version<"3.0"
filelock
future
gdown
lxml
networkx>=2.2.0
numpy>=1.16.0
ordered_set
pillow
pycollada!=0.7;python_version>="3.2"  # required for robot model using collada
pycollada<0.9;python_version<"3.2"  # required for robot model using collada
pyglet<2.0
pysdfgen>=0.1.5
python-fcl  # for collision check in trimesh module
repoze.lru;python_version<"3.2"
rtree # need rtree for simplify_quadric_decimation
scikit-learn
scipy;python_version>="3.0"
scipy<=1.2.3;python_version<"3.0"
six
trimesh>=3.9.0,!=3.23.0
