Panels:
  - Class: rviz_common/Displays
    Name: Displays
    Property Tree Widget:
      Expanded:
        - /MotionPlanning1
  - Class: rviz_common/Help
    Name: Help
  - Class: rviz_common/Views
    Name: Views
Visualization Manager:
  Displays:
    - Class: rviz_default_plugins/Grid
      Name: Grid
      Value: true
    - Class: moveit_rviz_plugin/MotionPlanning
      Name: MotionPlanning
      Planned Path:
        Loop Animation: true
        Show Robot Visual: true
        Show Trail: true
        State Display Time: 0.05 s
        Trajectory Topic: display_planned_path
      Planning Scene Topic: monitored_planning_scene
      Robot Description: robot_description
      Scene Geometry:
        Scene Alpha: 1
      Scene Robot:
        Robot Alpha: 0.5
      Value: true
  Global Options:
    Fixed Frame: $base_link_name
  Tools:
    - Class: rviz_default_plugins/Interact
    - Class: rviz_default_plugins/MoveCamera
    - Class: rviz_default_plugins/Select
  Value: true
  Views:
    Current:
      Class: rviz_default_plugins/Orbit
      Distance: 2.0
      Focal Point:
        X: -0.1
        Y: 0.25
        Z: 0.30
      Name: Current View
      Pitch: 0.5
      Target Frame: $base_link_name
      Yaw: -0.623
Window Geometry:
  Height: 975
  Width: 1200
