            <joint name="$joint_name">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">$${initial_positions['$joint_name']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
